.header-background {
  background-color: #dda15e;
  display: flex;
  justify-content: space-evenly;
  font-family: 'copperplate', fantasy;
}

.main-container {
  width: 100vw;
  height: 90vh;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  list-style: none;
}

header h1 {
  width: 30%;
  color: #fefae0;
  display: block;
  margin-top: 3%;
  padding: 10px;
}

header h2 {
  width: 30%;
  color: #bc6c25;
}

header nav {
  width: 70%;
  padding: 30px;
}

nav ul li {
  padding: 1%;
  font-size: 30px;
}

nav ul li a:link {
  color: #bc6c25;
  text-decoration: none;
}

nav ul li a:visited {
  color: #bc6c25;
  text-decoration: none;
}

.footer {
  text-align: center;
  height: 0%;
  color: #283618;
}

#professional-info {
  padding: 25px;
  padding-left: 50px;
  padding-right: 50px;
  border: 5px #606c38 solid;
  color: #283618;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 75%;
}

#personal-info {
  padding: 25px;
  padding-left: 50px;
  padding-right: 50px;
  border: 5px #606c38 solid;
  color: #283618;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 75%;
}

#contact-info ul li {
  list-style: none;
  padding: 5px;
}

.contact-info {
  text-align: center;
  border: 5px #606c38 solid;
  padding: 25px;
  margin: 25px;
  width: fit-content;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.contact-info p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-text {
  padding: 10px;
}

.card-body {
  border: 5px #606c38 solid;
  padding: 25px;
  width: fit-content;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.cardLink {
  display: block;
  text-align: center;
  padding: 3px;
}

.cardGithub {
  display: block;
  text-align: center;
  padding: 3px;
}

.cardName {
  display: block;
  text-align: center;
  color: #283618;
  font-size: 20pt;
  padding: 3px;
}

.resume-body-text {
  border: 5px #606c38 solid;
  margin: 25px;
  padding: 25px;
}

.resume-body-text h1 {
  text-align: center;
  padding: 5px;
}

.resume-body-text h2 {
  text-align: center;
  padding: 5px;
}

.resume-contact {
  text-align: center;
}