.header-background {
  background-color: #dda15e;
  display: flex;
  justify-content: space-evenly;
  font-family: 'copperplate', fantasy;
  width: 100%;
 
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  text-align: left;
  padding-right: 5%;
}

header h1 {
  padding-left: 5%;
  padding-right: 5%;
  width: 20%;
  color: #fefae0;
  font-size: xx-large;
  display: block;
}

header h2 {
  width: 30%;
  color: #bc6c25;
  font-size: x-large;
}

header nav {
  width: 70%;
}

nav ul li {
  font-size: x-large;
}

nav ul li a:link {
  color: #bc6c25;
  text-decoration: none;
}

nav ul li a:visited {
  color: #bc6c25;
  text-decoration: none;
}

.footer {
  text-align: center;
  height: 0%;
  color: #283618;
}

#professional-info {
  padding: 5%;
  border: 5px #606c38 solid;
  color: #283618;
  margin: auto;
  margin-top: 5%;
  width: 75%;
}

#personal-info {
  padding: 5%;
  border: 5px #606c38 solid;
  color: #283618;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 75%;
}

#contact-info ul li {
  list-style: none;
  padding: 5%;
}

.contact-info {
  text-align: center;
  border: 5px #606c38 solid;
  padding: 5%;
  width: 75%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.contact-info p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  border: 5px #606c38 solid;
  padding: 5%;
  width: 75%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;

}

.cardLink {
  display: block;
  text-align: center;
}

.cardGithub {
  display: block;
  text-align: center;
}

.cardName {
  display: block;
  text-align: center;
  color: #283618;
  font-size: large;
}

.resume-body-text {
  border: 5px #606c38 solid;
  width: 75%;
  padding: 5%;
  margin: 5%;
}

.resume-body-text h1 {
  text-align: center;
}

.resume-body-text h2 {
  text-align: center;
}

.resume-contact {
  text-align: center;
}