body {
  color: #283618;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fefae0;
  font-size: larger;
}

.cardImage {
  height: 40%;
  width: 65%;
  border: 5px #606c38 solid;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
}

img {
  justify-content: center;
}

a:link {
  color: #283618;
}

a:visited {
  color: #283618;
}